assets/auth/
!assets/auth/README.txt
!assets/.gitkeep
.idea/
logs/
!logs/.gitkeep
**/__pycache__/

assets/bot/friend_code/
assets/bot/xp/

!assets/bot/friend_code/.gitkeep
!assets/bot/xp/.gitkeep

!**/.gitkeep
