assets/auth/
!assets/auth/README.txt
!assets/.gitkeep
.idea/
logs/*

**/__pycache__/
*.pyc

!**/.gitkeep

assets/bot/friend_code/*
assets/bot/xp/*

assets/bot/stats/message_stats/*
assets/bot/stats/member_join_stats/*
assets/bot/stats/member_leave_stats/*